<%- include("partials/header") %>

<% movies.forEach(function(movie) { %>
    <div>
        <h1><%= movie.name %></h1>
        <img src="<%= movie.poster %>">
        <h2><%= movie.actors %></h2>
        <p><%= movie.year %></p>
    </div>
    
    
    
<% }); %>

<%- include("partials/footer") %>