<%- include("partials/header") %>

<% movies.forEach(function(movie) { %>
    <div>
        <h1><%= movie.name %></h1>
        <img src="<%= movie.poster %>">
        <h2><%= movie.actors %></h2>
        <p><%= movie.year %></p>
        <p>
            <a class="btn btn-primary" role="button" href="/movies/<%= movie._id %>">Read more</a>
        </p>
    </div>
    
    
    
<% }); %>

<%- include("partials/footer") %>